
<div class="container table bg-dark text-white">
    <div class="row ">
        <div class="col-md-9">
            <p>
                Jeśli przeżyję i będę jeszcze kiedyś w tych okolicach, wpadnę do Scootera, żeby mu powiedzieć,
                iż najlepszym sposobem na naprawienie zepsutej Gryziszczęki jest sprokurowanie wypadku samochodowego a
                następnie przywalenie w mordę autostopowicza - psychopatę, który próbuje człowieka udusić. Proste.
                Nawet dziecko by sobie z tym poradziło.
                <br>- ROZDZIAŁ - GRYZISZCZĘKA.<br> Stephen King "Marzenia i koszmary"
            </p>
        </div>
        <div class="col-md-3 borderer">
            <h5>Szybki kontakt</h5>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <a href="https://www.facebook.com/" target="_blank">Facebook</a><br>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a href="https://www.instagram.com/?hl=pl" target="_blank">Instagram</a><br>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Email</a><br>
        </div>
    </div>
</div>
